<template>
<div class="row">
  <span class="icon-button float-left mt-3">
    <router-link to="/" class="back-button">
      <font-awesome-icon class="icon-link" icon="arrow-alt-circle-left"></font-awesome-icon>
      {{ $t('views.userDetail.back_link') }}
    </router-link>
  </span>
  <div class="row justify-content-center">
    <div class="card mt-4">
      <div class="card-body">
        <div class="row" v-if="user">
          <!-- Left / Avatar -->
          <div class="col-4">
            <img :src="user.avatar" class="row mx-auto mb-5"
              :alt="$t('views.userDetail.avatar_alt')">
            <label for="img_url"><b>{{ $t('views.userDetail.avatar_url') }}</b></label>
            <a id="img_url" data-test="avatar_url" target="_blank" :href="user.avatar">
              {{user.avatar}}
            </a>
          </div>
          <!-- Right / Details -->
          <div class="col-8">
            <div class="row">
              <label for="id" class="col-6"><b>{{ $t('views.userDetail.id') }}</b></label>
              <p id="id" class="col-6" data-test="id">{{user.id}}</p>

              <label for="name" class="col-6"><b>{{ $t('views.userDetail.name') }}</b></label>
              <p id="name" data-test="name" class="col-6">{{user.name}}</p>


              <label for="location" class="col-6" v-if="locationData">
                <b>{{ $t('views.userDetail.location') }}</b>
              </label>
              <p id="location" class="col-6" data-test="location" v-if="locationData">
                {{location}}
              </p>

              <label for="role" class="col-6"><b>{{ $t('views.userDetail.role') }}</b></label>
              <p id="role" class="col-6" data-test="jobDescription">{{user.jobDescription}}</p>

              <label for="role" class="col-6"><b>{{ $t('views.userDetail.email') }}</b></label>
              <a :href="mailToUrl" id="role" class="col-6" target="_blank" data-test="userEmail">
                {{user.userEmail}}
              </a>

              <label for="ip" class="col-6"><b>{{ $t('views.userDetail.ip') }}</b></label>
              <p id="ip" class="col-6" data-test="userIpAddress">{{user.userIpAddress}}</p>

              <label for="createdAt" class="col-6">
                <b>{{ $t('views.userDetail.created') }}</b>
              </label>
              <p id="createdAt" class="col-6" data-test="createdAt">{{user.createdAt}}</p>

              <label for="userAgent" class="col-6">
                <b>{{ $t('views.userDetail.agent') }}</b>
              </label>
              <p id="userAgent" class="col-6" data-test="userAgent">{{user.userAgent}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'user-detail',
  data() {
    return {
      user: null,
      locationData: null,
    };
  },
  props: ['userId'],
  methods: {
    async getLocationFromIp() {
      await this.axios.post(`http://ip-api.com/json/${this.user.userIpAddress}?fields=continent,country,regionName,city`)
        .then(({ data }) => {
          this.locationData = data;
        });
    },
  },
  computed: {
    mailToUrl() {
      return `mailto:${this.user.userEmail}`;
    },
    location() {
      return `${this.locationData.city}, ${this.locationData.regionName}, ${this.locationData.country}, ${this.locationData.continent}`;
    },
  },
  async created() {
    this.user = this.$store.getters.getUserById(this.userId);
    await this.getLocationFromIp();
  },
};
</script>

<style lang="scss" scoped>
.card {
  border-radius: 1.5rem;
}
.card-header {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
img {
  height: 128px;
  width: 128px;
  background-image: url('../assets/avatar.png');
  border-radius: 50%;
}
.back-button {
  color: darkslategray;
  &:hover {
    color: lightslategray;
    text-decoration: none;
  }
}
</style>
