<template>
<div>
  <user-search-bar :filteredUsers="filteredUsers" @filterByRole="filterByRole" @sortBy="sortBy"
    @filterByName="filterByName" @clearFilters="clearFilters" @downloadCsv="downloadCsv">
  </user-search-bar>
  <div v-if="filteredUsers.length" class="table-responsive">
    <table class="table table-striped" data-sortable="true">
      <tr>
        <th>{{ $t('views.users.id') }}</th>
        <th>{{ $t('views.users.avatar') }}</th>
        <th>{{ $t('views.users.name') }}</th>
        <th>{{ $t('views.users.role') }}</th>
        <th>{{ $t('views.users.email') }}</th>
        <th>{{ $t('views.users.ip') }}</th>
        <th>{{ $t('views.users.created') }}</th>
        <th>{{ $t('views.users.agent') }}</th>
        <th>{{ $t('views.users.details') }}</th>
      </tr>
      <user-table-row v-for="user in filteredUsers" :key="user.email" data-test="user" :user="user">
      </user-table-row>
    </table>
  </div>
</div>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import UserTableRow from '../components/UserTableRow.vue';
import UserSearchBar from '../components/UserSearchBar.vue';

export default {
  name: 'users',
  components: { UserTableRow, UserSearchBar },
  data() {
    return {
      filteredUsers: [],
    };
  },
  computed: {
    ...mapGetters(['users']),
  },
  methods: {
    ...mapActions(['fetchUsers']),
    filterByRole(role) {
      if (role) {
        this.filteredUsers = this.filteredUsers.filter(user => user.jobDescription === role);
      } else {
        this.filteredUsers = this.users;
      }
    },
    filterByName(firstLetter) {
      if (firstLetter) {
        this.filteredUsers = this.filteredUsers.filter(user => user.name[0] === firstLetter);
      } else {
        this.filteredUsers = this.users;
      }
    },
    sortBy(field) {
      this.filteredUsers.sort((a, b) => this.compareObjectByField(a, b, field));
    },
    compareObjectByField(a, b, field) {
      if (a[field] < b[field]) {
        return -1;
      }
      if (a[field] > b[field]) {
        return 1;
      }
      return 0;
    },
    clearFilters() {
      this.filteredUsers = this.users;
    },
    convertfilteredUsersToCsv() {
      const replacer = (key, value) => (value === null ? '' : value);
      const fields = Object.keys(this.filteredUsers[0]);
      let csv = this.filteredUsers.map(
        row => fields.map(fieldName => JSON.stringify(row[fieldName], replacer)).join(','),
      );
      csv.unshift(fields.join(','));
      csv = csv.join('\r\n');
      return csv;
    },
    downloadCsv() {
      const csv = this.convertfilteredUsersToCsv();

      const element = document.createElement('a');
      element.setAttribute('href', `data:text/plain;charset=utf-8,${encodeURIComponent(csv)}`);
      element.setAttribute('download', 'csv');
      element.style.display = 'none';

      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    },
  },
  async created() {
    await this.fetchUsers()
      .then(() => {
        this.filteredUsers = this.users;
      });
    this.convertfilteredUsersToCsv();
  },
};
</script>
