<template>
  <div class="card mt-3">
    <div class="card-body">
      <div class="row mb-2">
        <span class="icon-button mx-auto pl-5" @click="$emit('downloadCsv')">
          <font-awesome-icon icon="arrow-alt-circle-down"></font-awesome-icon>
          {{ $t('components.userSearchBar.downloadCsv') }}
        </span>
        <span class="mx-auto">
          <select id="filterByRole" @change="$emit('filterByRole', $event.target.value)"
            data-test="user-role-select" class="select">
            <option value="">{{ $t('components.userSearchBar.filterByRole') }}</option>
            <option data-test="user-role-option" v-for="role in roles"
              :key="role" :value="role">
              {{role}}
            </option>
          </select>
        </span>
        <span class="mx-auto">
          <select id="filterByName" @change="$emit('filterByName', $event.target.value)"
            data-test="user-name-select" class="select">
            <option value="">{{ $t('components.userSearchBar.filterByName') }}</option>
            <option data-test="user-name-option" v-for="letter in firstLettersInNames"
              :key="letter" :value="letter">
              {{letter}}
            </option>
          </select>
        </span>
        <span class="icon-button mx-auto pr-5" @click="resetFilters">
          {{ $t('components.userSearchBar.clearFilters') }}
          <font-awesome-icon icon="undo-alt"></font-awesome-icon>
        </span>
      </div>

      <!-- Sorting Buttons -->
      <div class="row">
        <div class="mx-auto">
          <div @click="$emit('sortBy', 'id')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortById') }}
          </div>
          <div @click="$emit('sortBy', 'name')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortByName') }}
          </div>
          <div @click="$emit('sortBy', 'jobDescription')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortByRole') }}
          </div>
          <div @click="$emit('sortBy', 'userEmail')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortByEmail') }}
          </div>
          <div @click="$emit('sortBy', 'userIpAddress')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortByIp') }}
          </div>
          <div @click="$emit('sortBy', 'createdAt')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortByCreated') }}
          </div>
          <div @click="$emit('sortBy', 'userAgent')" class="m-1 btn btn-primary">
            {{ $t('components.userSearchBar.sortByAgent') }}
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'user-search-bar',
  props: ['filteredUsers'],
  methods: {
    resetFilters() {
      document.getElementById('filterByRole').selectedIndex = 0;
      document.getElementById('filterByName').selectedIndex = 0;
      this.$emit('clearFilters');
    },
  },
  computed: {
    // Map all the job values to an array, then filter that array to remove duplicates.
    roles() {
      return (this.filteredUsers.length ? this.filteredUsers.map(user => user.jobDescription)
        .filter((value, index, array) => array.indexOf(value) === index) : []).sort();
    },
    // Do the same for the first letter in each name.
    firstLettersInNames() {
      return (this.filteredUsers.length ? this.filteredUsers.map(user => user.name[0])
        .filter((value, index, array) => array.indexOf(value) === index) : []).sort();
    },
  },
};
</script>

<style lang="scss" scoped>

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.btn-primary {
  $background: darkslategray;
  $border: slategray;
  border-radius: 0.5rem;
  @include button-variant($background, $border,
    $hover-background: lightslategray,
    $hover-border: slategray,
    $active-background: darken($background, 10%),
    $active-border: darken($border, 12.5%));
}

.select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: darkslategray;
    line-height: 1.3;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select::-ms-expand {
    display: none;
}
.select:hover {
    border-color: #888;
}
.select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px darkslategray;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: darkslategray;
    outline: none;
}
.select option {
    font-weight:normal;
}
</style>
