<template>
<tr>
  <td><b>{{ user.id }}</b></td>
  <td><img v-if="user.avatar" :src="user.avatar"></td>
  <td>{{ user.name }}</td>
  <td>{{ user.jobDescription }}</td>
  <td><a :href="mailToUrl">{{ user.userEmail }}</a></td>
  <td>{{ user.userIpAddress}}</td>
  <td>{{ createdAtTrimmed }}</td>
  <td>{{ userAgentTrimmed }}</td>
  <td>
    <router-link :to="`/${user.id}`">
      <font-awesome-icon class="icon-button" icon="eye"></font-awesome-icon>
    </router-link>
  </td>
</tr>
</template>

<script>
export default {
  name: 'user-table-row',
  props: ['user'],
  computed: {
    mailToUrl() {
      return `mailto:${this.user.userEmail}`;
    },
    userDetailUrl() {
      return `/${this.user.name}`;
    },
    createdAtTrimmed() {
      return new Date(this.user.createdAt).toDateString();
    },
    userAgentTrimmed() {
      return this.user.userAgent.split(' ')[0];
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  border-radius: 1.5rem;
}
img {
  height: 32px;
  width: 32px;
  background-image: url('../assets/avatar.png');
  border-radius: 50%;
}
</style>
