<template>
  <div id="app">
    <div id="header" class="row"><a href="/"><img src="./assets/logo.png"></a></div>
    <span id="locale-select" @click="changeLocale">
      {{ $i18n.locale }}
      <font-awesome-icon class="float-right mx-3" icon="language" size="lg">
      </font-awesome-icon>
    </span>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    changeLocale() {
      this.$i18n.locale = this.$i18n.locale === 'en' ? 'es' : 'en';
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: darkslategray;
  overflow-x:hidden;
  padding-top: 3rem;
}
#header {
  height: 3rem;
  background-color: darkslategrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  img {
    height: 2rem;
    padding-left: 2rem;
    margin-top: .5rem;
  }
}
.icon-button {
  color: darkslategray;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    color: lightslategray;
  }
}
#locale-select {
  position: fixed;
  color: #E0D7C5;
  top: 0;
  right: 0;
  text-transform: uppercase;
  z-index: 2;
  padding-top: .8rem;
  &:hover {
    cursor: pointer;
    color: darken(#C1BFB0, 15%);
  }

}
</style>
